@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

:root{
   --cor1:#BDBBB7;
   --cor2:#AEACA3;
   --cor3:#D9DACC;
   --cor4:#C5BAA7;
   --cor5:#9C8867;
   --fonte1: arial, verdana, Helvetica, sans-serif;
   --fonte2: "squada one", sans-serif;
   --fonte3: "Oleo Script", system-ui;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    min-width: 100vh;
}
header{
    background-image: url(../imagens/foto1.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--cor3);
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
}
header>h1{
    font-family: var(--fonte3);
}

